<%@ page contentType="text/html;charset=UTF-8" %>
<%@ include file="/WEB-INF/views/include/taglib.jsp"%>
<html>
<head>
    <title>$tableComment</title>
    <meta name="decorator" content="default_sys"/>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#inputForm").validate({
                submitHandler: function(form){
                    loading('正在提交，请稍等...');
                    form.submit();
                },
                errorContainer: "#messageBox",
                errorPlacement: function(error, element) {
                    $("#messageBox").text("输入有误，请先更正。");
                    if (element.is(":checkbox")||element.is(":radio")||element.parent().is(".input-append")){
                        error.appendTo(element.parent().parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
        });
    </script>
</head>
<body>
<ul class="nav nav-tabs">
    <li><a href="${ctxAdmin}/${modulePath}/${entityInstance}">$tableComment列表</a></li>
    <li class="active"><a href="${ctxAdmin}/${modulePath}/${entityInstance}/form?id=${model.id}">$tableComment<e:hasPermission name="${module}:${entityInstance}:edit">${ not empty model.id?'修改':'添加'}</e:hasPermission><e:lacksPermission name="${module}:${entityInstance}:edit">查看</e:lacksPermission></a></li>
</ul><br/>
<form:form id="inputForm" modelAttribute="model" action="${ctxAdmin}/${modulePath}/${entityInstance}/save" method="post" class="form-horizontal">
    <form:hidden path="id"/>
    <tags:message content="${message}"/>

    #foreach ($column in $columns)
        <div class="control-group">
            <label class="control-label">$column.comment:</label>
            <div class="controls">
                <form:input path="$column.fieldName" htmlEscape="false" maxlength="200" class="input-xlarge required"/>
            </div>
        </div>
    #end

    <div class="form-actions">
        <e:hasPermission name="${modulePermission}:${entityInstance}:edit"><input id="btnSubmit" class="btn btn-primary" type="submit" value="保 存"/>&nbsp;</e:hasPermission>
        <input id="btnCancel" class="btn" type="button" value="返 回" onclick="history.go(-1)"/>
    </div>
</form:form>
</body>
</html>